
/* bagian home page */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color:#000000;
    --second-bg-color:#020202;
    --text-color:white;
    --main-color:#ebbfe8;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform:scale(1.1);   
}
.logo span{
    text-shadow:0 0 25px var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size:7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img:hover{
    box-shadow:0 0 25px var(--main-color),
               0 0 50px var(--main-color),
               0 0 100px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons{
    display: flex;
    gap: 1.5rem; 
    margin-bottom: 3rem;
    margin-top: 3rem; 
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3 rem 0;
    transition: 0.3s ease in out;
}
.social-icons a:hover{
    color:var(--text-color);
    transform:scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display:inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Student Computer Science";
    color: var(--main-color);
    animation:word 20s infinite;
}

/*Bagian about */
.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.About {
    padding: 100px 15px;
    background: var(--second-bg-color);
}
.About h2 {
    margin-bottom: 5rem;
}
.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.timeline-item:nth-child(odd) {
    text-align: right;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.timeline-item:nth-child(even) {
    text-align: left;
    justify-content: flex-start;
}
.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 4;
}
.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    background: var(--bg-color);
    padding: 5px 10px;
    border-radius: 1rem;
    z-index: 3;
    margin: 0 20px;
    position: relative;
    
}

.timeline-item:nth-child(odd) .timeline-date {
    margin-right: auto;
    text-align: right;
}

.timeline-item:nth-child(even) .timeline-date {
    margin-left: auto;
    text-align: left;
}

.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 2rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    z-index: 2;
    max-width: 50%;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

.Skills h2{
    margin-bottom: 2rem;
}
.Skills{
    margin: 0 auto;
}
.Skills-bars{
    padding: 25px 30px;
    background: var(--second-bg-color);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap: 3rem;
}
.Skills-bars .bars{
    margin: 20px 0;
}
.Skills-bars .bars:first-child{
    margin-top: 0px;
}
.Skills-bars .bars.info{
    margin-bottom: 5px;
}
.Skills-bars .bars.info span{
    color:white;
    font-weight: 500;
    font-size: 17px;
}
.Skills-bars .bars .progress-line{
    height: 10px;
    width: 100%;
    background: white;
    position: relative;
    border-radius: 10px;
}
.bars .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background: #0077ff;
    cursor:pointer
}
.bars .progress-line.javascript span{
    width: 80%;
    background-color: gold;
    box-shadow: 0 0 25px gold;
    transition: 0.3s ease;
}
.bars .progress-line.javascript span:hover{
    box-shadow: 0 0 25px gold,
                0 0 50px gold;
}
.bars .progress-line.React span{
    width: 70%;
    background-color: rgb(58, 58, 255);
    box-shadow: 0 0 25px rgb(58, 58, 255);
    transition: 0.3s ease;
}
.bars .progress-line.React span:hover{
    box-shadow: 0 0 25px rgb(58, 58, 255),
                0 0 50px rgb(58, 58, 255);
}
.bars .progress-line.html span{
    width: 90%;
    background-color: greenyellow;
    box-shadow: 0 0 25px greenyellow;
    transition: 0.3s ease;
}
.bars .progress-line.html span:hover{
    box-shadow: 0 0 25px greenyellow,
                0 0 50px greenyellow;
}
.bars .progress-line.CSS span{
    width: 95%;
    background-color: lightpink;
    box-shadow: 0 0 25px lightpink;
    transition: 0.3s ease;
}
.bars .progress-line.CSS span:hover{
    box-shadow: 0 0 25px lightpink,
                0 0 50px lightpink;
}
.bars .progress-line.Python span{
    width: 85%;
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    transition: 0.3s ease;
}
.bars .progress-line.Python span:hover{
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
}

/* Bagian service*/
.Services {
    background: var(--bg-color);
    color: white;
    padding: 50px 15px;
}

.Services h2 {
    margin-bottom: 5rem;
    color: white;
}

/* Services Container Styles */
.Services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

/* Services Box Styles */
.Services-box {
    background-color: var(--main-color);
    height: 200px;
    border-radius: 2rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.Services-box:hover {
    background: white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
    
}

/* Service Info Styles */
.service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding: 2rem;
    height: 100%;
    overflow: hidden;
}

.service-info h4 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2;
}

.service-info p {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7;
    margin: 0;   
}
/*Bagian portofolio */


.Portofolio .heading {
    margin-bottom: 5rem;
    color: var(--text-color);
    
}

.Portofolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portofolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    
}

.portofolio-box img {
    width: 100%;
    transition: 0.5s ease;
    
    
}

.portofolio-box:hover img {
    transform: scale(1.1);
}

.portofolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    cursor: pointer;
    transition: 0.5s ease;
    background: transparent; /* Start with a transparent background */
}

.portofolio-box:hover .portofolio-info {
    background: radial-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
    transform: scale(1.1);
}

.portofolio-info h4 {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
}

.portofolio-info p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
    color: var(--text-color);
    font-weight: 600;
}

.portofolio-info a {
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portofolio-info a i {
    font-size: 3rem;
    color: var(--main-color);
}
/*Bagian Contact */
.Contact {
    background-color: var(--bg-color);
}
.Contact h2{
  margin-bottom: 3rem;
  color:white;  
}
.Contact form{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin:5 rem auto;
    text-align: center;
}
.Contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Contact form .input-box input,
.Contact form textarea{
    width:100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize:none;
}
.Contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%  ;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);   
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 00 10px;
    transition: 0.3s ease-in-out;  
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color:black;
    box-shadow: 0 0 25px var(--main-color);   
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align:center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;   
}
/* untuk mengatur ukuran di mobile */
@media (max-width: 991px) {
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
        padding-right: 0;
        text-align: left;
    }
    .timeline-items::before {
        left: 7px;
    }
    .timeline-dot {
        left: 0;
    }
}

/*
@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .Services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0.5rem;
    }   
}
*/
@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
    .header {
        padding: 2rem 5%;
    }
    .logo {
        font-size: 2.5rem;
    }
    .navbar a {
        font-size: 1.6rem;
    }
    .home-content h1 {
        font-size: 5.5rem;
    }
    .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content p {
        font-size: 1.4rem;
    }
    .home-img img {
        width: 70vw;
    }
    .Services-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .Contact form .input-box input,
    .Contact form textarea {
        font-size: 1.6rem;
        padding: 2rem;
    }
    .footer ul {
        font-size: 16px;
    }
    .footer .social a {
        font-size: 22px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .text-animation {
        font-size: 28px;
    }
}

/*
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
       padding-right: 0;
       text-align: left; 
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left:0;
    }
    .Services{
        padding-bottom: 7rem;
    }
    .Contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%
    }
}
*/

@media(max-width: 895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right:0;
        width:50%;
        padding:1rem 3%;
        background: rgba(0,0,0,0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width:56vw;
    }
    .Services h2{
        margin-bottom: 3rem;
    }
    .Services-container{
        grid-template-columns: repeat(1,1fr);
    }
}
